.nav {
  padding-block: 16px;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
}

.nav h2 {
  font-weight: bold;
  font-size: 1.3em;
  font-family: var(--font-logo);
  color: var(--color-dark2);
}

.nav a {
  white-space: nowrap;
  color: var(--color-dark2);
  padding: 8px;
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid transparent;
}

.nav h2 span {
  color: var(--color-primary);
}

.nav a:hover {
  background-color: var(--color-secondary);
}

.nav .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 24px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  display: flex;
  gap: 12px;
}

.active {
  border-bottom: 2px solid var(--color-primary) !important;
}

.main {
  height: 70vh;
}

.main h1 {
  font-size: clamp(4em, 8vw, 10em);
  font-weight: bold;
  letter-spacing: -4px;
  color: var(--color-light);
}

.main p {
  color: var(--color-light);
}

.main p,
.main2 p {
  font-size: 1.6em;
}

.main p span {
  font-weight: bold;
  text-transform: capitalize;
}

.main2 {
  overflow: hidden;
  background-color: var(--color-dark2);
}

.main2 p {
  color: var(--color-secondary);
}

.main2 h2 {
  font-size: clamp(2em, 5vw, 7em);
  font-weight: bold;
  letter-spacing: -2px;
  text-transform: capitalize;
  padding-top: 44px;
  color: var(--color-light);
}

.main2 .img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main2 .img:hover {
  transform: scale(1.04);
}

@media screen and (max-width:768px) {
  .nav-item {
    display: none;
  }
}